.app-colsan {
  background-color: #efefef;
  padding-top: 120px;
  padding-bottom: 120px;
}

.colsan-box {
  margin: 0 auto;
  width: 80vw;
  max-width: 510px;
  padding: 20px 90px;
  border: 4px solid #801336;
  border-radius: 20px;
}

.colsan-box h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 105%;
  color: #323232;
  margin-bottom: 30px;
}
.colsan-box img {
  margin-bottom: 12px;
}
.colsan-box p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #3f3f3f;
  margin-bottom: 16px;
}

.colsan-box a {
  margin: 0 auto;
}
