.hero {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.heroBg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: absolute;
  color: #eee;
  font-size: 4rem;
  max-width: 13ch;
  padding-left: 15px;
  text-align: center;
  font-weight: 300;
}
.text span {
  display: block;
  width: max-content;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .text {
    font-size: 2.5rem;
    padding-left: 0;
  }
}
