*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.destaque {
  background-color: #d11e42;
}

.animeLeft {
  animation: animeLeft 0.5s ease-in;
}

@keyframes animeLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    transform: initial;
    opacity: 1;
  }
} ;
