.requisitos {
  padding: 60hpx 0px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.requisitos h2 {
  font-family: "Poppins";
  color: #414141;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

.requisitos ul {
  width: 80%;
  color: #414141;
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 105%;
}

.requisitos ul li {
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

.requisitos ul li::before {
  content: "";
  display: block;
  background-color: #d11e42;
  border-radius: 50%;
  min-width: 7px;
  height: 7px;
  margin-right: 12px;
}
.requisitos img {
  border-radius: 8px;
  box-shadow: 18px 22px 0px #d11e42;
}

@media (max-width: 920px) {
  .requisitos {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .requisitos div {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .requisitos img {
    width: 100%;
    object-fit: cover;
    border-radius: none;
    height: 300px;
  }
}
