.bg {
  background-color: #fff;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
.container {
  display: grid;
  justify-content: center;
  align-items: top;
  max-width: 75rem;
  gap: 2rem;
  margin: 0 auto;
  color: #414141;
  padding: 0 20px;
}

.container dt {
  font-weight: 500;
  cursor: pointer;
  padding: 0.3rem 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.container dl dd {
  color: #575757;
  margin-bottom: 1rem;
  display: none;
  max-width: 60ch;
  transition: 1s;
}
dt.active + dd {
  display: block;
}

.container dd + dt {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.content p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  .bg {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
