.hero {
  height: 100vh;
  max-height: 700px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.heroBg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: absolute;
  color: #eee;
  font-size: 4rem;
  max-width: 14ch;
  padding-left: 15px;
  text-align: center;
}

@media (max-width: 800px) {
  .text {
    font-size: 2.5rem;
    padding-left: 0;
  }
}
