.shortcuts {
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-items: center;
  list-style: none;

  font-family: "Work Sans", sans-serif;
  font-size: 1rem;

  gap: 2rem;
}

.shortcuts li {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;

  text-align: center;

  gap: 1rem;

  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

.shortcuts li a {
  text-decoration: none;
  color: inherit;
}
/* .shortcuts {
  padding-top: 60px;
  padding-bottom: 35px;
  font-family: "Work Sans", sans-serif;
  box-shadow: inset 0px 15px 0px #801336, inset 0px 30px 0px #c72c41;
  border-top: 15px solid #510a32;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 70px;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.shortcuts div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 70px;
}

.shortcuts li {
  width: 150px;
  height: 150px;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  gap: 20px;
  text-align: center;
  padding: 10px;
  transition: ease-in 0.3s;
}
.shortcuts li:hover {
  transform: scale(1.03);
}

@media (max-width: 700px) {
  .shortcuts {
    gap: 20px;
  }
  .shortcuts div {
    gap: 20px;
  }
  .shortcuts li {
    width: 120px;
    height: 120px;
    gap: 10px;
    margin-bottom: 20px;
  }
} */
